    <nav class="nav-bar">
        <ul>
            <li>
                <a routerLink="" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Home</a>
            </li>
            <li>
                <a routerLink="search" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Search</a>
            </li>
            <li>
                <a routerLink="viewadded" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">View added Quotes</a>
            </li>
        </ul>
    </nav>
    <div class="router-out">
        <router-outlet></router-outlet>
    </div>